img {
  display: block;
  border-radius: 20px;
}
body {
  background-color: #eee;
}
.wrapper {
  width: 1200px;
  margin: auto;
  background-color: #eee;
}
.header {
  display: flex;
  justify-content: space-between;
}
#pet-resort-logo-div {
  display: flex;
  gap: 20px;
}
.menu-button {
  padding: 5px;
  color: black;
  font-weight: 900;
}
.menu-buttons-nav {
  display: flex;
}
#no-line {
  text-decoration: none;
}
#menu-buttons-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 30px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "intro-card intro-card intro-card intro-card"
    "grooming grooming grooming partners"
    "merch buddies-for-life fine-dining partners";
  gap: 20px;
}
.intro-card {
  background-image: url("../img/happiest-dog.webp");
  color: white;
  height: 600px;
  grid-area: intro-card;
  display: flex;
  justify-items: end;
  align-items: end;
  border-radius: 20px;
}
#intro-card-text {
  margin-left: 25px;
}
.card {
  background-color: white;
  border-radius: 20px;
}
.october-grooming-card {
  grid-area: grooming;
  display: flex;
  justify-content: space-evenly;
}
.october-grooming-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners {
  grid-area: partners;
  padding: 20px;
}
.partner-logo {
  display: flex;
  justify-content: center;
}
#ads-picture-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#padding {
  padding: 10px;
}
#merch {
  grid-area: merch;
}
#buddies-for-life {
  grid-area: buddies-for-life;
}
#fine-dining {
  grid-area: fine-dining;
}
